<head>
    <link rel="stylesheet" href="css/diceroller.css">
    <script src="js/diceroller.js"></script>
</head>
<body onload="RollSixSidedDice()">
    <h1>Dice roller: Craps</h1>
    Die 1: <input id="dice1" type="text" value="" size="5" disabled><br>
    Die 2: <input id="dice2" type="text" value="" size="5" disabled><br>
    <button type="button" onclick="RollSixSidedDice()" autofocus>Roll!</button>
    <p>Roll some craps! Just click the button or hit enter to roll two dice.</p>
</body>